@media only screen and (max-width: 991px) {
    .header_wrapper .mobile_menu{
        display: block;
        font-size: 30px;
    }
    .header-scrolled{
        height: 104px;
    }
   

    html, body {
        overflow-x: hidden !important;
      }
      html{
        overflow-x: hidden !important;
      }
  }


  @media(max-width:551px){
    .Banner-social_ico{
      display: none;
    }
    .banner-content .content_bx .sub-title h1{
      font-size: 46px;
    }
    
  }
 
  
    

  @media only screen and (min-width: 991px){
    .navbar-expand-lg{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 0 10px;
    }

  }

  @media only screen and (min-width: 991px ) and (max-width: 1199px ){
    .main-btn{
        padding: 10px 14px;
    }
    /* .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    } */
    
  }

  @media only screen and (min-width: 991px ) and (max-width: 1200px ){
    .main-btn{
        padding: 10px 14px;
    }
    .header_wrapper .navbar-brand img{
        height: 44px;
    }
    .main-btn{
        font-size: 10px;
    }
    .header_wrapper .nav-item .nav-link{
        font-size: 15px;
        letter-spacing: 0 !important;
    }
    
  }


  /* home-services start  */

  @media (max-width: 576px) {
    .home-services-section .container {
      top: 65%;   
      left: 50%; 
      transform: translate(-50%, -50%);
    }
  }


  @media (max-width: 576px) {
    .home-services-section .owl-theme .owl-nav {
  margin-bottom: 90px !important;
  
    }
  }



/* gallery-section-start */
  @media(max-width:991px){
    .gallery-section .gallery-side-bg .gallery-side-bg-main{
      display: none;
    }
   
  }



  /* shop-section-start */
  @media (max-width: 991px) {
    .shop-section .shop-img img {
      margin-top: 100px;
    }
  }
  
  @media (max-width: 991px) {
    .shop-section .shop-img img {
      height: 400px;
    }
  
  }


  @media (max-width: 991px) {
    .shop-section .shop-info {
      bottom: -15%;
      left: 19%;
      width: 550px;
    }
  
    .shop-section {
      margin-top: 0 !important;
    }
  }
  
  
  @media (max-width: 576px) {
    .shop-section .shop-info {
      bottom: -16%;
      left: 9%;
      width: 311px;
    }
  
    .shop-section .shop-info h2 {
      font-size: 20px !important;
    }
  
    .shop-info-btn a {
      padding: 13px 30px !important;
      font-size: 10px !important;
  
    }
  
    .shop-section {
      margin-top: 0 !important;
    }
  }

  @media(max-width:991px){
    .shop-section .shop-info p{
      font-size: 16px;
    }
   
  }


  /* shop-section-end */


  /* Testimonials-section-start */

  @media(max-width:991px) {
    .testimonial_slide .main_content_bx .testi_content_bx {
      height: 200px;
    }
  
  }


  @media(max-width:400px) {
    .testimonial_slide .main_content_bx .testi_content_bx {
      height: 280px;
    }
  
  }



  /* footer */

  @media(max-width:991px) {
    .footer .container {
      width: 430px;
    }
  }
  
  @media(max-width:400px) {
    .footer .container {
      width: 300px;
    }
  }
  @media(max-width:700px) {
    .footer .container {
      width: 300px;
    }
  }